# IDE/python stuff
/venv/
/.metadata/
# modify #language.settings.xml# for shared changes
.settings/language.settings.xml

# build detritus
/Default/
/Unity/
*.o
*.d
*.bin
*.map
*.srec
freertos_hello_world
openocd.log
